$sidebar-width: 301px;

.page {
  display: flex;
  width: 100vw;
  min-width: 1024px;
  height: 100vh;
  overflow-x: auto;

  &.hasSVGs {
    > .main {
      width: calc(100% - $sidebar-width);
    }

    > .sidebar {
      transform: translateX(0);
    }
  }
}

.main {
  width: 100%;
  height: 100%;
  overflow: auto;

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    min-height: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
  }

  &__hgroup {
    flex: none;
    padding-top: 32px;
    padding-bottom: 24px;

    > h1 {
      margin: 0;
      font-size: 44px;
      line-height: 56px;
    }

    > p {
      margin: 4px 0 0;
      font-size: 18px;
      line-height: 24px;
      color: #2a2a4a;
    }
  }

  &__buttonGroup {
    display: grid;
    flex: none;
    grid-template-columns: repeat(2, max-content);
    gap: 12px;
  }

  &__footer {
    flex: none;
    padding-top: 32px;
    padding-bottom: 16px;
    margin-top: auto;
    color: #2a2a4a;
    user-select: none;

    > a {
      margin-left: 12px;
    }
  }
}

.sidebar {
  display: flex;
  flex: none;
  flex-direction: column;
  width: $sidebar-width;
  height: 100%;
  background: #fcfcfc;
  border-left: 1px solid #f1f1f2;
  transition: transform 0.5s ease;
  transform: translateX($sidebar-width);

  --sidebar-fg: #2a2a4a;
  --entry-hover-bg: #fff;
  --entry-button-fg: #1e1e35;
  --entry-button-hover-fg: #35355e;

  &.dark {
    background: #1e1e35;
    border-color: #575770;

    --sidebar-fg: #eee;
    --entry-hover-bg: #2a2a4a;
    --entry-button-fg: #eee;
    --entry-button-hover-fg: #fff;

    ::selection {
      background: #3f2d7c;
    }

    .button {
      box-shadow: 0 0 0 1px #333351;
    }
  }

  &__buttonGroup {
    display: grid;
    flex: none;
    gap: 8px;
    padding: 16px;
  }
}

.copyButton {
  position: relative;
  left: calc(100% - 100px);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 36px;
  margin-bottom: -36px;
  background: #eee;

  &:active {
    background: #e9e9e9;
  }
}

.copyButton::before {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  content: "";
  background: currentcolor;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3Cpath d='M352 0H96C78.304 0 64 14.304 64 32v384c0 17.664 14.304 32 32 32h160v64h64v-64h-63.968v-64H320v-64h-64v64H128V64h192v128h64V32c0-17.664-14.304-32-32-32zm-96 224v32h64v-64h-32c-17.696 0-32 14.304-32 32zm128 416h64v-64h-64v64zm0-384h64v-64h-64v64zM256 608c0 17.664 14.304 32 32 32h32v-64h-64v32zm288-416h-32v64h64v-32c0-17.664-14.304-32-32-32zm-32 448h32c17.696 0 32-14.336 32-32v-32h-64v64zm0-256h64v-64h-64v64zm0 128h64v-64h-64v64z'/%3E%3C/svg%3E");
}

.settingsModal {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: none;
  background: rgb(0 0 0 / 25%);

  &.show {
    display: block;
  }

  &__box {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 32px;
    gap: 8px 24px;
    align-items: center;
    width: 360px;
    padding: 16px 24px 12px;
    font-size: 14.222px;
    color: #fff;
    white-space: nowrap;
    user-select: none;
    background: #2a2a4a;
    transform: translate(-50%, -50%);
  }
}

.input {
  width: 100%;
  padding: 4px 10px;
  margin: 0;
  font-size: 14.222px;
  line-height: 24px;
  color: inherit;
  appearance: none;
  background: #35355e;
  border: none;

  &:focus {
    outline: 2px dashed #9a9aec;
  }

  &::selection {
    background: #9a9aec;
  }
}

.toggle {
  position: relative;
  display: flex;
  align-items: center;
  width: 80px;
  height: 24px;
  overflow: hidden;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  background: #1e1e35;

  &:focus {
    outline: 2px dashed #9a9aec;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 50%;
    height: 100%;
    content: "";
    background: #5c5ca3;
    transition: transform 0.35s;
  }

  &.active::after {
    transform: translateX(-100%);
  }

  > span {
    position: relative;
    z-index: 2;
    display: block;
    width: 50%;
  }
}

.svgList {
  flex: 1;
  padding-bottom: 8px;
  overflow: auto;
}

.colorSetting {
  display: flex;
  align-items: center;
  padding: 0 16px 8px;
  font-size: 16px;
  line-height: 24px;
  color: var(--sidebar-fg);
  white-space: nowrap;
  user-select: none;

  &__input {
    flex: 1;
    height: 24px;
    padding: 0;
    margin-left: 8px;
    appearance: none;
    border: 0;

    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    &::-webkit-color-swatch {
      border: 0;
    }
  }
}

.svgEntry {
  display: flex;
  align-items: center;
  padding: 8px 16px;

  &__preview {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background: currentcolor;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
  }

  &__filename {
    flex: 1;
    padding-right: 8px;
    font-size: 16px;
    line-height: 24px;
    color: var(--sidebar-fg);
  }

  &__input:focus {
    outline: 2px dashed #9a9aec;
  }

  &__download {
    flex: none;
    width: 16px;
    height: 16px;
    padding: 0;
    margin-left: auto;
    color: var(--entry-button-fg);
    background: currentcolor !important;
    opacity: 0;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3Cpath d='M480 224h-96V32H256v192h-96l160 160 160-160zm138.816 209.024c-6.72-7.168-51.552-55.136-64.352-67.648-8.48-8.288-20.608-13.376-33.344-13.376h-56.224l98.048 95.808H449.536c-3.264 0-6.208 1.664-7.68 4.256L415.744 512H224.256l-26.112-59.936c-1.472-2.592-4.448-4.256-7.68-4.256H77.056L175.072 352H118.88c-12.704 0-24.832 5.088-33.344 13.376-12.8 12.544-57.632 60.512-64.352 67.648-15.648 16.672-24.256 29.952-20.16 46.368l17.952 98.368c4.096 16.448 22.112 29.952 40.064 29.952h521.984c17.952 0 35.968-13.504 40.064-29.952l17.952-98.368c4.032-16.416-4.544-29.696-20.224-46.368z'/%3E%3C/svg%3E");

    &:hover {
      color: var(--entry-button-hover-fg);
    }
  }

  &__remove {
    flex: none;
    width: 20px;
    height: 20px;
    padding: 0;
    margin-left: 8px;
    color: var(--entry-button-fg);
    background: currentcolor !important;
    opacity: 0;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 768 768'%3E%3Cpath d='M607.5 205.5 429 384l178.5 178.5-45 45L384 429 205.5 607.5l-45-45L339 384 160.5 205.5l45-45L384 339l178.5-178.5z'/%3E%3C/svg%3E");

    &:hover {
      color: var(--entry-button-hover-fg);
    }
  }

  &:hover {
    background: var(--entry-hover-bg);
  }

  &:hover > &__download,
  &:hover > &__remove {
    opacity: 1;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 16px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  user-select: none;
  background: #1e1e35;

  &:hover {
    background: #2a2a4a;
  }

  &:active {
    background: #3f2d7c;
  }
}

.code {
  padding: 24px 16px;
  margin: 0;
  font-size: 16px;
  hyphens: none;
  line-height: 20px;
  color: #444;
  word-wrap: break-word;
  tab-size: 4;
  white-space: pre-wrap;
  background: #fcfcfc;
}

:global {
  .selector {
    color: #007abd;
  }

  .property {
    color: #cd3571;
  }

  .function {
    color: #ab4ab8;
  }

  .string {
    color: #006f3c;
  }

  .comment {
    font-style: oblique;
    color: #9a5f6a;
  }
}
